body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.contact-icons {
    font-size: 24px;
    margin: 10px;
}

h4{
    color: #4c4b4b;
}
h2{
    font-weight: 650;
}














